---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Arguflow — The Best GenAI Platform for You',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Book a meeting',
        href: 'https://arguflow.ai/meet',
        target: '_blank',
        icon: 'tabler:calendar',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      The
      <span class="text-accent dark:underline dark:text-white highlight">Best</span> GenAI platform for You
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:block sm:mb-4">
        <span class="font-semibold">Arguflow</span> allows you to deploy semantic search and RAG
        <span class="font-semibold">fast</span>.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Arguflow: Production-ready.</span>
       Suitable for Developers, Law Firms, Enterprises, Startups, Small Businesses, and Individuals.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with Arguflow"
    subtitle="Semantic search and RAG are powerful, but can take months to implement and deploy. With Arguflow, you can have a ChatGPT-like experience and semantic search engine on your data in a matter of hours."
    items={[
      {
        title: 'Search Engine UI',
        description:
          "Amazing white-label'able semantic+full-text search engine UI with RAG that works out of the box for you and your users.",
        icon: 'tabler:search',
      },
      {
        title: 'Chat UI',
        description:
          "Want to build a ChatGPT-like experience? We have you covered. Our Chat UI is near 1:1 with OpenAI's and includes both regular and RAG-based responses.",
        icon: 'tabler:message',
      },
      {
        title: 'Advanced Duplicate Detection',
        description:
          'Never get the same information phrased different way in your search retrievals. Arguflow has maximal-marginal-relevance built in.',
        icon: 'tabler:copy',
      },
      {
        title: 'Excellent REST API',
        description:
          'Our well-documented API has 15 endpoints and over 50 routes for you to leverage to build your own integrations and experiences.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Custom Chunking Strategies',
        description:
          'Arguflow allows you to define your own chunking strategies for your documents. This allows you to tune and get the best possible results for your use-case.',
        icon: 'tabler:file-dots',
      },
      {
        title: 'Search before Generate',
        description:
          'Arguflow both supports fully-managed RAG and user-defined RAG. Let your users search and select their ideal results before generating text.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Value Proposition"
    title="Why you need semantic search and RAG at your business"
    items={[
      {
        title: 'Search By Meaning',
        description:
          'Traditional search engines are limited to matching keywords. Arguflow goes beyond and facilitates search by broad concepts and ideas.',
      },
      {
        title: 'Ask Questions',
        description:
          'With semantic power, you can simply ask questions and get answers. No more keyword matching and guessing.',
      },
      {
        title: 'Language Agnostic',
        description:
          'Arguflow is language agnostic. You can query in any language and get results in any language. No more barriers.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Find Everything You Are Looking For With Semantic Search
      </h3>
       Gain a competitive advantage by incorporating industry leading search practices. Users query. Arguflow responds.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Fully-Managed RAG',
        description: `Leverage LLM's to both search and generate text. Avoid manually selecting documents and save time.`,
      },
      {
        title: 'Search Before Generate',
        description:
          'Want more control? Arguflow allows you to search and select documents before generating text. The best of both worlds.',
      },
      {
        title: 'Hallucination Prevention',
        description:
          "Our RAG pipeline forces the model to cite the documents it's using for each sentence. Follow the trail and verify.",
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Automate Writing With RAG</h3>
       Hours spent writing witness prep, executive summaries, and other documents? No more. Arguflow can generate it for
      you through RAG.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Stars', amount: '124' },
      { title: 'Forks', amount: '40' },
      { title: 'Contributors', amount: '24' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get started',
        href: 'https://arguflow.ai/meet',
        target: '_blank',
        icon: 'tabler:rocket',
      },
    ]}
  >
    <Fragment slot="title">
      Arguflow is the best GenAI platform for you. <br class="hidden md:inline" />Don't waste more time!
    </Fragment>
  </CallToAction>
</Layout>
